.contents-view-area.color-saki {
    .common-button {
        background: linear-gradient(to right, #fb4f60, #fbb7a1);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #fb4f60, #ffffff 30%),
                color-mix(in srgb, #fbb7a1, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #fb4f60, #fbb7a1) 1;
    }
}

.contents-view-area.color-temari {
    .common-button {
        background: linear-gradient(to right, #23b3e6, #81e5de);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #23b3e6, #ffffff 30%),
                color-mix(in srgb, #81e5de, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #23b3e6, #81e5de) 1;
    }
}

.contents-view-area.color-kotone {
    .common-button {
        background: linear-gradient(to right, #f3d51d, #fbb5d1);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #f3d51d, #ffffff 30%),
                color-mix(in srgb, #fbb5d1, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #333333;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #f3d51d, #fbb5d1) 1;
    }
}

.contents-view-area.color-mao {
    .common-button {
        background: linear-gradient(to right, #bf5cc4, #f6aba4);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #bf5cc4, #ffffff 30%),
                color-mix(in srgb, #f6aba4, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list {
        border-image: linear-gradient(to right, #bf5cc4, #f6aba4) 1;
    }
}

.contents-view-area.color-lilja {
    .common-button {
        background: linear-gradient(to right, #cee0e0, #92cad4);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #cee0e0, #ffffff 30%),
                color-mix(in srgb, #92cad4, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #333333;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #cee0e0, #92cad4) 1;
    }
}

.contents-view-area.color-china {
    .common-button {
        background: linear-gradient(to right, #fa891e, #fb5e52);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #fa891e, #ffffff 30%),
                color-mix(in srgb, #fb5e52, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #fa891e, #fb5e52) 1;
    }
}

.contents-view-area.color-sumika {
    .common-button {
        background: linear-gradient(to right, #8fdc57, #c8e01b);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #8fdc57, #ffffff 30%),
                color-mix(in srgb, #c8e01b, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #333333;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #8fdc57, #c8e01b) 1;
    }
}

.contents-view-area.color-hiro {
    .common-button {
        background: linear-gradient(to right, #00bcd3, #507ff9);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #00bcd3, #ffffff 30%),
                color-mix(in srgb, #507ff9, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #00bcd3, #507ff9) 1;
    }
}

.contents-view-area.color-sena {
    .common-button {
        background: linear-gradient(to right, #fbac26, #f1e769);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #fbac26, #ffffff 30%),
                color-mix(in srgb, #f1e769, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #333333;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #fbac26, #f1e769) 1;
    }
}

.contents-view-area.color-misuzu {
    .common-button {
        background: linear-gradient(to right, #6ba2f7, #cdadfa);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #6ba2f7, #ffffff 30%),
                color-mix(in srgb, #cdadfa, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #6ba2f7, #cdadfa) 1;
    }
}

.contents-view-area.color-ume {
    .common-button {
        background: linear-gradient(to right, #f34a29, #ecc64b);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #f34a29, #ffffff 30%),
                color-mix(in srgb, #ecc64b, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #f34a29, #ecc64b) 1;
    }
}

.contents-view-area.color-rinami {
    .common-button {
        background: linear-gradient(to right, #f97dbd, #f0b7f9);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #f97dbd, #ffffff 30%),
                color-mix(in srgb, #f0b7f9, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #f97dbd, #f0b7f9) 1;
    }
}

.contents-view-area.color-default {
    .common-button {
        background: #958b7f;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: color-mix(in srgb, #958b7f, #ffffff 30%);
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
    }

    .card-tab.active, .card-filter-list-header {
        border-image: linear-gradient(to right, #958b7f, #958b7f) 1;
    }
}

.contents-view-area {
    .basic-button {
        background: #ffffff;
        border: 2px solid #333333;
        border-radius: 16px;
        cursor: pointer;
        outline: none;
        padding: 4px 8px;
        appearance: none;
    }

    .basic-button:hover {
        background: #efefef;
    }

    .basic-button:disabled {
        cursor: not-allowed;
    }

    .basic-button-name {
        color: #333333;
        font-size: 16px;
    }

    .common-button:disabled {
        cursor: not-allowed;
    }

    .headline-area {
        padding: 16px 16px 8px 16px;

        .headline-text {
            color: #333333;
            font-size: 24px;
            padding-left: 8px;
            vertical-align: super;
        }
    }

    .card-tab-area {
        display: flex;
        padding: 0 16px;

        .card-tab {
            padding: 8px 16px;
        }

        .card-tab.active {
            border-bottom: 3px solid;
        }

        .card-tab-button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
        }

        .card-tab-name {
            color: #333333;
            font-size: 20px;
        }
    }

    .card-master-area, .card-manager-area {
        padding: 16px 16px;

        .description-area {
            padding: 8px 0;
        }

        .card-edit-area {
            padding: 8px 0;
        }

        .card-filter-area {
            padding: 8px 0;
        }

        .card-filter-list-area {
            display: flex;
            flex-direction: column;
            padding: 8px 0;
        }

        .card-filter-list-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 2px solid;
            padding-top: 16px;
        }

        .card-filter-checkbox-area {
            display: flex;
            flex-direction: row;
            padding-top: 8px;
        }

        .card-filter-checkbox {
            padding-right: 16px;
        }

        .card-filter-type-text {
            border-bottom: 2px solid;
        }

        .ability-filter-area {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        .ability-filter-parameter-area {
            display: flex;
            flex-direction: column;
        }

        .ability-filter-text {
            border-bottom: 1px dashed #333333;
            padding-top: 8px;
        }

        .filter-button-area {
            display: flex;
            flex-direction: row;
            padding-top: 16px;
        }

        .filter-button {
            padding-right: 8px;
        }

        .card-list-area {
            padding: 8px 0;
        }

        .card {
            padding: 8px 8px;
            display: flex;
            flex-direction: row;
        }

        .card.vocal {
            background: rgba(251, 0, 130, 0.1);
            border-bottom: 2px solid #FB0082;
        }

        .card.dance {
            background: rgba(0, 134, 240, 0.1);
            border-bottom: 2px solid #0086F0;
        }

        .card.visual {
            background: rgba(250, 169, 0, 0.1);
            border-bottom: 2px solid #FAA900;
        }

        .card.assist {
            background: rgba(60, 199, 67, 0.1);
            border-bottom: 2px solid #3CC743;
        }

        .card-image-area {
            width: 400px;
            height: 225px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 2px solid #333333;
        }

        .card-image-area.editor {
            cursor: pointer;
        }

        .card-name {
            display: flex;
            flex-direction: row;
            padding: 4px 8px;

            span {
                color: #ffffff;
                text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
                font-size: 24px;
                font-weight: bold;
                font-family: "Noto Sans JP", serif;
                font-optical-sizing: auto;
                font-style: normal;
            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
            padding: 4px 8px;

            span {
                color: #ffffff;
                text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
                font-size: 24px;
                font-weight: bold;
                font-family: "Noto Sans JP", serif;
                font-optical-sizing: auto;
                font-style: normal;
            }
        }

        .card-event-area {
            width: 300px;
            padding-left: 8px;
            display: flex;
            flex-direction: column;
        }

        .card-event-area.vocal {
            border-right: 2px dashed #FB0082;
        }

        .card-event-area.dance {
            border-right: 2px dashed #0086F0;
        }

        .card-event-area.visual {
            border-right: 2px dashed #FAA900;
        }

        .card-event-area.assist {
            border-right: 2px dashed #3CC743;
        }

        .card-event {
            padding-bottom: 16px;
        }

        .card-ability-area {
            padding-left: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .idol-view-area {
        padding: 16px 16px;

        .description-area {
            padding: 8px 0;
        }

        .idol-list-area {
            padding: 8px 0;
        }

        .idol {
            padding-bottom: 8px;
        }

        .idol-info-area {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            border-bottom: 2px solid;
        }

        .idol-info-area.saki {
            border-image: linear-gradient(to right, #fb4f60, #fbb7a1) 1;
        }

        .idol-info-area.temari {
            border-image: linear-gradient(to right, #23b3e6, #81e5de) 1;
        }

        .idol-info-area.kotone {
            border-image: linear-gradient(to right, #f3d51d, #fbb5d1) 1;
        }

        .idol-info-area.mao {
            border-image: linear-gradient(to right, #bf5cc4, #f6aba4) 1;
        }

        .idol-info-area.lilja {
            border-image: linear-gradient(to right, #cee0e0, #92cad4) 1;
        }

        .idol-info-area.china {
            border-image: linear-gradient(to right, #fa891e, #fb5e52) 1;
        }

        .idol-info-area.sumika {
            border-image: linear-gradient(to right, #8fdc57, #c8e01b) 1;
        }

        .idol-info-area.hiro {
            border-image: linear-gradient(to right, #00bcd3, #507ff9) 1;
        }

        .idol-info-area.sena {
            border-image: linear-gradient(to right, #fbac26, #f1e769) 1;
        }

        .idol-info-area.misuzu {
            border-image: linear-gradient(to right, #6ba2f7, #cdadfa) 1;
        }

        .idol-info-area.ume {
            border-image: linear-gradient(to right, #f34a29, #ecc64b) 1;
        }

        .idol-info-area.rinami {
            border-image: linear-gradient(to right, #f97dbd, #f0b7f9) 1;
        }

        .idol-name-text {
            font-size: 24px;
            font-weight: bold;
        }

        .idol-dear-level {
            padding-left: 24px;
        }

        .produce-idol-area {
            padding: 8px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .produce-idol {
            width: 500px;
            padding: 8px 8px;
            display: flex;
            flex-direction: row;
        }

        .produce-idol-image-area {
            width: 154px;
            height: 205px;
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid #333333;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            cursor: pointer;
        }

        .produce-idol-level-area {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .produce-idol-level-text {
            color: #ffffff;
            text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
            font-size: 32px;
            font-weight: bold;
            font-family: "Noto Sans JP", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

        .produce-idol-info-area {
            padding: 0 8px;
            display: flex;
            flex-direction: column;
        }

        .produce-idol-name-text {
            font-size: 24px;
        }

        .produce-idol-plan-area {
            padding: 4px;
        }

        .produce-idol-hp {
            width: 90px;
            padding: 4px;
            display: flex;
            flex-direction: column;
        }

        .produce-idol-hp-text {
            border-bottom: 2px solid #3CC743;
        }

        .produce-idol-hp-value {
            display: flex;
            flex-direction: column;
            background: rgba(60, 199, 67, 0.1);
        }

        .produce-idol-parameter-area {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .produce-idol-parameter {
            width: 90px;
            padding: 4px;
            display: flex;
            flex-direction: column;
        }

        .produce-idol-parameter-text.vocal {
            border-bottom: 2px solid #FB0082;
        }

        .produce-idol-parameter-text.dance {
            border-bottom: 2px solid #0086F0;
        }

        .produce-idol-parameter-text.visual {
            border-bottom: 2px solid #FAA900;
        }

        .produce-idol-parameter-value {
            display: flex;
            flex-direction: column;
        }

        .produce-idol-parameter-value.vocal {
            background: rgba(251, 0, 130, 0.1);
        }

        .produce-idol-parameter-value.dance {
            background: rgba(0, 134, 240, 0.1);
        }

        .produce-idol-parameter-value.visual {
            background: rgba(250, 169, 0, 0.1);
        }
    }
}
