.contents-view-area {
    max-width: 1300px;
    margin: 0 auto;

    .headline-area {
        padding: 16px 16px 8px 16px;

        .headline-text {
            color: #333333;
            font-size: 24px;
            padding-left: 8px;
            vertical-align: super;
        }
    }

    .home-view-area {
        padding: 16px 16px;

        .content-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 16px;
        }

        .content {
            padding: 16px 8px;
        }

        .content-button {
            background: #efefef;
            border-radius: 4px;
            border: 2px solid #666666;
            cursor: pointer;
            outline: none;
            padding: 8px;
            appearance: none;
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .content-button:hover {
            background: #ffffff;
            transition: 0.3s;
        }

        .content-button-name {
            font-weight: bold;
            font-size: 16px;
        }
    }

    .card-tab-area {
        display: flex;
        padding: 0 16px;

        .card-tab {
            padding: 8px 16px;
            border-radius: 4px;
        }

        .card-tab:hover {
            background: #efefef;
        }

        .card-tab.common-headline {
            border-bottom: 3px solid;
        }

        .card-tab-button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
        }

        .card-tab-name {
            color: #333333;
            font-size: 20px;
        }
    }

    .card-master-area, .card-manager-area {
        padding: 16px 16px;

        .description-area {
            padding: 8px 0;
        }

        .card-edit-area {
            padding: 8px 0;
        }

        .card-filter-area {
            padding: 8px 0;
        }

        .card-filter-list-area {
            display: flex;
            flex-direction: column;
            padding: 8px 0;
        }

        .card-filter-list-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 16px;
        }

        .card-filter-checkbox-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 8px;

            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }

        .card-filter-checkbox {
            padding-right: 16px;
        }

        .card-filter-type-text {
            border-bottom: 2px solid;
        }

        .ability-filter-area {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        .ability-filter-parameter-area {
            display: flex;
            flex-direction: column;
        }

        .ability-filter-text {
            border-bottom: 1px dashed #333333;
            padding-top: 8px;
        }

        .filter-button-area {
            display: flex;
            flex-direction: row;
            padding-top: 16px;
        }

        .filter-button {
            padding-right: 8px;
        }

        .card-list-area {
            padding: 8px 0;
        }

        .card {
            padding: 8px 8px;
            display: flex;
            flex-direction: row;

            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
            }
        }

        .card.vocal {
            background: rgba(251, 0, 130, 0.1);
            border-bottom: 2px solid #FB0082;
        }

        .card.dance {
            background: rgba(0, 134, 240, 0.1);
            border-bottom: 2px solid #0086F0;
        }

        .card.visual {
            background: rgba(250, 169, 0, 0.1);
            border-bottom: 2px solid #FAA900;
        }

        .card.assist {
            background: rgba(60, 199, 67, 0.1);
            border-bottom: 2px solid #3CC743;
        }

        .card-image-area {
            width: 295px;
            height: 166px;
            min-width: 295px;
            min-height: 166px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 2px solid #333333;
        }

        .card-image-area.editor {
            cursor: pointer;
        }

        .card-image-area.editor:hover {
            opacity: 0.7;
            transition: 0.3s;
        }

        .card-name {
            display: flex;
            flex-direction: row;
            padding: 4px 8px;

            span {
                color: #ffffff;
                text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
                font-size: 20px;
                font-weight: bold;
                font-family: "Noto Sans JP", serif;
                font-optical-sizing: auto;
                font-style: normal;
            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
            padding: 4px 8px;

            span {
                color: #ffffff;
                text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
                font-size: 20px;
                font-weight: bold;
                font-family: "Noto Sans JP", serif;
                font-optical-sizing: auto;
                font-style: normal;
            }
        }

        .card-event-and-ability-area {
            width: 100%;
            display: flex;
            flex-direction: row;

            @media (max-width: 1000px) {
                display: flex;
                flex-direction: column;
            }
        }

        .card-event-area {
            width: 300px;
            min-width: 300px;
            padding-left: 8px;
            display: flex;
            flex-direction: column;

            @media (max-width: 1000px) {
                width: 100%;
                min-width: 100%;
            }

            @media (max-width: 600px) {
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 4px;
            }
        }

        .card-event-area.vocal {
            border-right: 2px dashed #FB0082;

            @media (max-width: 1000px) {
                border-right: none;
                border-bottom: 2px dashed #FB0082;
            }
        }

        .card-event-area.dance {
            border-right: 2px dashed #0086F0;

            @media (max-width: 1000px) {
                border-right: none;
                border-bottom: 2px dashed #0086F0;
            }
        }

        .card-event-area.visual {
            border-right: 2px dashed #FAA900;

            @media (max-width: 1000px) {
                border-right: none;
                border-bottom: 2px dashed #FAA900;
            }
        }

        .card-event-area.assist {
            border-right: 2px dashed #3CC743;

            @media (max-width: 1000px) {
                border-right: none;
                border-bottom: 2px dashed #3CC743;
            }
        }

        .card-event {
            padding-bottom: 16px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            @media (max-width: 1000px) {
                padding-bottom: 0;
            }
        }

        .card-ability-area {
            padding-left: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 600px) {
                padding-top: 8px;
                padding-left: 4px;
            }
        }
    }

    .idol-view-area {
        padding: 16px 16px;

        .description-area {
            padding: 8px 0;
        }

        .idol-list-area {
            padding: 8px 0;
        }

        .idol {
            padding-bottom: 8px;
        }

        .idol-info-area {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        .idol-name-text {
            font-size: 24px;
            font-weight: bold;
        }

        .idol-dear-level {
            padding-left: 24px;
        }

        .produce-idol-area {
            padding: 8px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
            }
        }

        .produce-idol {
            width: 500px;
            padding-bottom: 16px;
            display: flex;
            flex-direction: row;

            @media (max-width: 600px) {
                width: auto;
                padding-bottom: 8px;
            }
        }

        .produce-idol-image-area {
            width: 154px;
            height: 205px;
            min-width: 154px;
            min-height: 205px;
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid #333333;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            @media (max-width: 600px) {
                width: 102px;
                height: 136px;
                min-width: 102px;
                min-height: 136px;
            }
        }

        .produce-idol-image-area:hover {
            opacity: 0.7;
            transition: 0.3s;
        }

        .produce-idol-plan-area {
            display: flex;
            flex-direction: column;
            padding-left: 4px;
        }

        .produce-idol-plan-text {
            color: #ffffff;
            text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
            font-size: 20px;
            font-weight: bold;
            font-family: "Noto Sans JP", serif;
            font-optical-sizing: auto;
            font-style: normal;

            @media (max-width: 600px) {
                font-size: 16px;
            }
        }

        .produce-idol-level-area {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .produce-idol-level-text {
            color: #ffffff;
            text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
            font-size: 32px;
            font-weight: bold;
            font-family: "Noto Sans JP", serif;
            font-optical-sizing: auto;
            font-style: normal;

            @media (max-width: 600px) {
                font-size: 24px;
            }
        }

        .produce-idol-info-area {
            padding: 0 8px;
            display: flex;
            flex-direction: column;
        }

        .produce-idol-name-text {
            font-size: 24px;

            @media (max-width: 600px) {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .produce-idol-hp-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-bottom: 4px;

            @media (max-width: 600px) {
                display: none;
            }
        }

        .produce-idol-parameter-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .produce-idol-parameter-table {
            .table-header {
                text-align: start;
            }

            .table-header-type {
                text-align: start;
                width: 80px;

                @media (max-width: 600px) {
                    width: 60px;
                }
            }

            .table-header-type.vocal {
                border-bottom: 2px solid #FB0082;
            }

            .table-header-type.dance {
                border-bottom: 2px solid #0086F0;
            }

            .table-header-type.visual {
                border-bottom: 2px solid #FAA900;
            }

            .table-header-type.hp {
                border-bottom: 2px solid #3CC743;
            }

            .table-header-text {
                @media (max-width: 600px) {
                    display: none;
                }
            }

            .table-header-text-abbr {
                @media (min-width: 601px) {
                    display: none;
                }
            }

            .table-data {
                text-align: end;
            }

            .table-data.vocal {
                background: rgba(251, 0, 130, 0.1);
            }

            .table-data.dance {
                background: rgba(0, 134, 240, 0.1);
            }

            .table-data.visual {
                background: rgba(250, 169, 0, 0.1);
            }

            .table-data.hp {
                background: rgba(60, 199, 67, 0.1);
            }
        }
    }

    .schedule-view-area {
        padding: 16px 16px;

        .organization-area {
            padding-bottom: 16px;

            .content-area {
                width: 100%;
                display: grid;
                grid-template-columns: 4fr 1fr;
                grid-template-rows: 3fr 5fr;
                grid-column-gap: 16px;
                grid-row-gap: 16px;

                @media (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                    grid-column-gap: 0;
                }
            }

            .produce-idol-area {
                grid-area: 1 / 1 / 2 / 2;
            }

            .produce-idol {
                padding-top: 8px;
                display: grid;
                grid-template-rows: 1fr 2fr;
                grid-template-columns: 1fr 6fr;
                grid-column-gap: 8px;
                grid-row-gap: 8px;
                align-items: center;

                @media (max-width: 600px) {
                    display: grid;
                    grid-template-rows: 2fr 3fr;
                    grid-template-columns: 1fr 3fr;
                    grid-column-gap: 8px;
                    grid-row-gap: 8px;
                    align-items: center;
                }
            }

            .produce-idol-image {
                width: 154px;
                height: 205px;
                min-width: 154px;
                min-height: 205px;
                grid-area: 1 / 1 / 3 / 2;

                @media (max-width: 600px) {
                    width: 102px;
                    height: 136px;
                    min-width: 102px;
                    min-height: 136px;
                    grid-area: 1 / 1 / 2 / 2;
                }
            }

            .produce-idol-select-button {
                width: 100%;
                height: 100%;
                background: #efefef;
                background-size: cover;
                background-repeat: no-repeat;
                border: 2px solid #333333;
                cursor: pointer;
                outline: none;
                padding: 0;
                appearance: none;
            }

            .produce-idol-select-button:hover {
                opacity: 0.7;
                transition: 0.3s;
            }

            .produce-idol-info-area {
                grid-area: 1 / 2 / 2 / 3;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media (max-width: 600px) {
                    grid-area: 1 / 2 / 2 / 3;
                }
            }

            .produce-idol-level-area {
                display: flex;
                flex-direction: row;

                @media (max-width: 600px) {
                    display: flex;
                    flex-direction: column;
                }
            }

            .produce-idol-level {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                padding-right: 32px;

                @media (max-width: 600px) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-right: 0;
                    padding-bottom: 8px;
                }
            }

            .produce-idol-level > input {
                width: 60px;
            }

            .produce-idol-parameter-area {
                grid-area: 2 / 2 / 3 / 3;

                @media (max-width: 600px) {
                    grid-area: 2 / 1 / 3 / 3;
                }
            }

            .produce-idol-parameter-table {
                .table-header {
                    text-align: start;
                }

                .table-header-type {
                    text-align: start;
                    width: 80px;
                }

                .table-header-type.vocal {
                    border-bottom: 2px solid #FB0082;
                }

                .table-header-type.dance {
                    border-bottom: 2px solid #0086F0;
                }

                .table-header-type.visual {
                    border-bottom: 2px solid #FAA900;
                }

                .table-header-type.hp {
                    border-bottom: 2px solid #3CC743;
                }

                .table-header-type.point {
                    border-bottom: 2px solid #958b7f;
                }

                .table-header-type.pc-design {
                    @media (max-width: 600px) {
                        display: none;
                    }
                }

                .table-header-text {
                    @media (max-width: 600px) {
                        display: none;
                    }
                }

                .table-header-text-abbr {
                    @media (min-width: 601px) {
                        display: none;
                    }
                }

                .table-data {
                    text-align: end;
                }

                .table-data.vocal {
                    background: rgba(251, 0, 130, 0.1);
                }

                .table-data.dance {
                    background: rgba(0, 134, 240, 0.1);
                }

                .table-data.visual {
                    background: rgba(250, 169, 0, 0.1);
                }

                .table-data.hp {
                    background: rgba(60, 199, 67, 0.1);
                }

                .table-data.point {
                    background: rgba(149, 139, 127, 0.1);
                }

                .table-data.pc-design {
                    @media (max-width: 600px) {
                        display: none;
                    }
                }
            }

            .produce-idol-parameter-table.phone-design {
                @media (min-width: 601px) {
                    display: none;
                }
            }

            .support-card-area {
                grid-area: 2 / 1 / 3 / 2;
            }

            .support-card {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                padding-top: 8px;

                @media (max-width: 600px) {
                    display: flex;
                    flex-direction: column;
                    grid-column-gap: 0;
                }
            }

            .support-card-detail {
                display: flex;
                flex-direction: column;

                @media (max-width: 600px) {
                    display: flex;
                    flex-direction: row;
                }
            }

            .support-card-detail.row-1 {
                grid-area: 1 / 1 / 2 / 2;
            }

            .support-card-detail.row-2 {
                grid-area: 1 / 2 / 2 / 3;
            }

            .support-card-detail.row-3 {
                grid-area: 1 / 3 / 2 / 4;
            }

            .support-card-detail.row-4 {
                grid-area: 2 / 1 / 3 / 2;
            }

            .support-card-detail.row-5 {
                grid-area: 2 / 2 / 3 / 3;
            }

            .support-card-detail.row-6 {
                grid-area: 2 / 3 / 3 / 4;
            }

            .support-card-image {
                width: 196px;
                height: 110px;
                min-width: 196px;
                min-height: 110px;
                padding-bottom: 8px;

                @media (max-width: 600px) {
                    padding-right: 8px;
                    padding-bottom: 0;
                }
            }

            .support-card-select-button {
                width: 100%;
                height: 100%;
                background: #efefef;
                background-size: cover;
                background-repeat: no-repeat;
                border: 2px solid #333333;
                cursor: pointer;
                outline: none;
                padding: 0;
                appearance: none;
            }

            .support-card-select-button:hover {
                opacity: 0.7;
                transition: 0.3s;
            }

            .support-card-info {
                display: flex;
                flex-direction: column;
            }

            .support-card-name {
                padding-bottom: 8px;
            }

            .support-card-level > input {
                width: 60px;
            }

            .produce-memory-area {
                grid-area: 1 / 2 / 3 / 3;
            }

            .produce-memory {
                display: flex;
                flex-direction: column;
                grid-row-gap: 16px;
                padding-top: 8px;

                @media (max-width: 1000px) and (min-width: 601px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-column-gap: 16px;
                    grid-row-gap: 16px;
                }
            }

            .produce-memory-detail {
                display: flex;
                flex-direction: column;
            }

            .produce-memory-detail.row-1 {
                grid-area: 1 / 1 / 2 / 2;
            }

            .produce-memory-detail.row-2 {
                grid-area: 1 / 2 / 2 / 3;
            }

            .produce-memory-detail.row-3 {
                grid-area: 2 / 1 / 3 / 2;
            }

            .produce-memory-detail.row-4 {
                grid-area: 2 / 2 / 3 / 3;
            }

            .produce-memory-ability-area {
                display: flex;
                flex-direction: row;
                padding-bottom: 8px;
            }

            .produce-memory-name {
                padding-bottom: 8px;
            }

            .produce-memory-ability-type-area {
                padding-right: 8px;
            }

            .produce-memory-ability-type-area > select {
                width: 120px;

                @media (max-width: 1000px) {
                    width: 140px;
                }
            }

            .produce-memory-ability-value-area > select {
                width: 80px;

                @media (max-width: 1000px) {
                    width: 100px;
                }
            }
        }

        .planning-area {
            padding-bottom: 16px;

            .content-area {
                width: 100%;
            }

            .schedule-area {
                padding-bottom: 16px;
            }

            .schedule {
                @media (max-width: 1000px) {
                    overflow-x: scroll;
                }
            }

            .event-area {
                padding-bottom: 16px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 16px;
                grid-row-gap: 16px;

                @media (max-width: 1000px) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }

            .challenge-p-item-area {
                grid-area: 1 / 1 / 2 / 2;

                @media (max-width: 1000px) and (min-width: 601px) {
                    width: calc(50% - 8px);
                }

                @media (max-width: 600px) {
                    width: 100%;
                }
            }

            .produce-p-item-area {
                grid-area: 1 / 2 / 2 / 3;

                @media (max-width: 1000px) and (min-width: 601px) {
                    width: calc(50% - 8px);
                }

                @media (max-width: 600px) {
                    width: 100%;
                }
            }

            .support-card-event-area {
                grid-area: 1 / 3 / 2 / 4;

                @media (max-width: 1000px) {
                    width: 100%;
                }
            }

            .table.schedule {
                min-width: 800px;
            }

            .table.challenge-p-item {
                width: 100%;
            }

            .table.produce-p-item {
                width: 100%;
            }

            .table.support-card-event {
                width: 100%;

                @media (max-width: 1000px) and (min-width: 601px) {
                    width: calc(50% - 8px);
                }

                @media (max-width: 600px) {
                    width: 100%;
                }
            }

            .table {
                .table-header {
                    text-align: start;
                }

                .table-header.detail, .table-header.type {
                    border-bottom: 2px solid #958b7f;
                }

                .table-header.vocal {
                    width: 80px;
                    border-bottom: 2px solid #FB0082;
                }

                .table-header.dance {
                    width: 80px;
                    border-bottom: 2px solid #0086F0;
                }

                .table-header.visual {
                    width: 80px;
                    border-bottom: 2px solid #FAA900;
                }

                .table-header.hp, .table-header.assist {
                    width: 80px;
                    border-bottom: 2px solid #3CC743;
                }

                .table-header.point {
                    width: 80px;
                    border-bottom: 2px solid #958b7f;
                }

                .table-header.count {
                    width: 60px;
                    border-bottom: 2px solid #958b7f;
                }

                .table-data {
                    text-align: start;
                }

                .table-data.number {
                    text-align: end;
                }

                .table-data.checkbox {
                    text-align: center;
                }

                .table-data.detail, .table-data.type, .table-data.count {
                    background: rgba(149, 139, 127, 0.1);
                }

                .table-data.vocal {
                    background: rgba(251, 0, 130, 0.1);
                }

                .table-data.dance {
                    background: rgba(0, 134, 240, 0.1);
                }

                .table-data.visual {
                    background: rgba(250, 169, 0, 0.1);
                }

                .table-data.hp, .table-data.assist {
                    background: rgba(60, 199, 67, 0.1);
                }

                .table-data.point {
                    background: rgba(149, 139, 127, 0.1);
                }

                .table-data.last {
                    background: #333333;
                }

                .table-data-text.vocal {
                    color: #FB0082;
                }

                .table-data-text.dance {
                    color: #0086F0;
                }

                .table-data-text.visual {
                    color: #FAA900;
                }

                .table-data-text.last {
                    color: #ffffff;
                }

                .table-select {
                    width: 100%;
                    color: #333333;
                    font-size: 16px;
                    font-weight: bold;
                    border: none;
                    box-sizing: border-box;
                    background: transparent;
                }

                .table-select:focus {
                    border: none;
                }

                .table-select:focus-visible {
                    outline: none;
                }

                .table-input-checkbox {
                    width: 16px;
                    height: 16px;
                }

                .table-input-number {
                    width: 100%;
                    color: #333333;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: end;
                    border: none;
                    box-sizing: border-box;
                    background: transparent;
                }

                .table-input-number:focus {
                    border: none;
                }

                .table-input-number:focus-visible {
                    outline: none;
                }
            }
        }
    }
}
