.modal-area {
    .modal-window-area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.3);
        z-index: 200;
    }

    .input-modal-window-area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.3);
        z-index: 300;
    }

    .headline-area {
        display: flex;
        padding-bottom: 8px;
        flex-direction: row;
        justify-content: space-between;

        .headline-text {
            font-size: 20px;
            padding-left: 4px;
            vertical-align: super;
        }

        .headline-close-button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            appearance: none;
            border-radius: 8px;
        }

        .headline-close-button:hover {
            background: #efefef;
        }
    }

    .content-area {
        overflow-y: scroll;
    }

    .edit-button-area {
        display: flex;
        flex-direction: row;
    }

    .edit-button {
        padding-right: 8px;
    }

    .card-edit-modal {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 50%;
        max-height: 70%;
        margin: 10% auto;
        padding: 16px;
        border-radius: 8px;

        @media (max-width: 1000px) {
            width: 90%;
            max-height: 90%;
        }

        @media (max-width: 600px) {
            margin: 5% auto;
        }

        .card-info-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-bottom: 16px;

            .card-image {
                width: 295px;
                height: 166px;
                min-width: 295px;
                min-height: 166px;
                padding-right: 8px;
                padding-bottom: 8px;
            }

            .card-select-button {
                width: 100%;
                height: 100%;
                background: #efefef;
                background-size: cover;
                background-repeat: no-repeat;
                border: 2px solid #333333;
                cursor: pointer;
                outline: none;
                padding: 0;
                appearance: none;
            }

            .card-select-button:hover {
                opacity: 0.7;
                transition: 0.3s;
            }

            .card-select-text {
                font-size: 20px;
            }

            .card-info {
                display: flex;
                flex-direction: column;
            }

            .card-info-text {
                padding-bottom: 16px;
            }

            .card-level {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }
        }

        .card-event-area {
            display: flex;
            flex-direction: column;
            padding-top: 8px;
            padding-bottom: 16px;

            .card-event {
                padding-bottom: 16px;
            }
        }

        .card-ability-area {
            display: flex;
            flex-direction: column;
            padding-top: 8px;
            padding-bottom: 16px;

            .card-ability {
                padding-bottom: 16px;
            }
        }
    }

    .card-select-modal {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 80%;
        height: 80%;
        margin: 10% auto;
        padding: 16px;
        border-radius: 8px;

        @media (max-width: 1000px) {
            margin: 5% auto;
            width: 90%;
            height: 90%;
        }

        .card-filter-area {
            padding: 8px 0;
        }

        .card-filter-list-area {
            display: flex;
            flex-direction: column;
            padding: 8px 0;
        }

        .card-filter-list-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: 16px;
        }

        .card-filter-checkbox-area, .card-filter-radio-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 8px;

            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }

        .card-filter-checkbox, .card-filter-radio {
            padding-right: 16px;
        }

        .card-filter-type-text {
            border-bottom: 2px solid;
        }

        .ability-filter-area {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        .ability-filter-parameter-area {
            display: flex;
            flex-direction: column;
        }

        .ability-filter-text {
            border-bottom: 1px dashed #333333;
            padding-top: 8px;
        }

        .filter-button-area {
            display: flex;
            flex-direction: row;
            padding-top: 16px;
        }

        .filter-button {
            padding-right: 8px;
        }

        .save-card-display-toggle {
            padding-bottom: 16px;
        }

        .card-list-area {
            display: flex;
            flex-wrap: wrap;
            padding: 8px 0;
        }

        .card {
            padding: 8px 8px;
        }

        .card-image-area {
            width: 295px;
            height: 166px;
            min-width: 295px;
            min-height: 166px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            border: 2px solid #333333;
        }

        .card-image-area:hover {
            opacity: 0.7;
            transition: 0.3s;
        }

        .card-name {
            display: flex;
            flex-direction: row;
            padding: 4px 8px;

            span {
                color: #ffffff;
                text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
                font-size: 20px;
                font-weight: bold;
                font-family: "Noto Sans JP", serif;
                font-optical-sizing: auto;
                font-style: normal;
            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
            padding: 4px 8px;

            span {
                color: #ffffff;
                text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
                font-size: 20px;
                font-weight: bold;
                font-family: "Noto Sans JP", serif;
                font-optical-sizing: auto;
                font-style: normal;
            }
        }
    }

    .produce-idol-edit-modal {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 50%;
        max-height: 70%;
        margin: 25% auto;
        padding: 16px;
        border-radius: 8px;

        @media (max-width: 600px) {
            width: 90%;
            max-height: 90%;
        }

        .produce-idol-info-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-bottom: 16px;
        }

        .produce-idol-image-area {
            padding-right: 8px;
            padding-bottom: 8px;
        }

        .produce-idol-image {
            width: 102px;
            height: 136px;
            min-width: 102px;
            min-height: 136px;
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid #333333;
        }

        .produce-idol-info {
            display: flex;
            flex-direction: column;
        }

        .produce-idol-info-text {
            padding-bottom: 16px;
        }

        .produce-idol-level {
            display: flex;
            flex-direction: column;
            padding-bottom: 16px;
        }

        .produce-idol-training-level {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding-bottom: 16px;
        }

        .produce-idol-blossoming-level {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        .produce-idol-parameter-area {
            padding-bottom: 16px;
        }

        .table-header {
            text-align: start;
        }

        .table-header-type {
            text-align: start;
            width: 80px;

            @media (max-width: 1000px) {
                width: 60px;
            }
        }

        .table-header-type.vocal {
            border-bottom: 2px solid #FB0082;
        }

        .table-header-type.dance {
            border-bottom: 2px solid #0086F0;
        }

        .table-header-type.visual {
            border-bottom: 2px solid #FAA900;
        }

        .table-header-text {
            @media (max-width: 1000px) {
                display: none;
            }
        }

        .table-header-text-abbr {
            @media (min-width: 1001px) {
                display: none;
            }
        }

        .table-data {
            text-align: end;
        }

        .table-data.vocal {
            background: rgba(251, 0, 130, 0.1);
        }

        .table-data.dance {
            background: rgba(0, 134, 240, 0.1);
        }

        .table-data.visual {
            background: rgba(250, 169, 0, 0.1);
        }
    }

    .produce-idol-modal {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 80%;
        height: 80%;
        margin: 10% auto;
        padding: 16px;
        border-radius: 8px;

        @media (max-width: 1000px) {
            margin: 5% auto;
            width: 90%;
            height: 90%;
        }

        .idol-list-area {
            padding: 8px 0;
        }

        .idol {
            padding-bottom: 8px;
        }

        .idol-info-area {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        .idol-name-text {
            font-size: 24px;
            font-weight: bold;
        }

        .idol-dear-level {
            padding-left: 24px;
        }

        .produce-idol-area {
            padding: 8px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .produce-idol {
            padding: 8px 8px;
        }

        .produce-idol-image-area {
            width: 154px;
            height: 205px;
            min-width: 154px;
            min-height: 205px;
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid #333333;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
        }

        .produce-idol-image-area:hover {
            opacity: 0.7;
            transition: 0.3s;
        }

        .produce-idol-plan-area {
            display: flex;
            flex-direction: column;
            padding-left: 4px;
        }

        .produce-idol-plan-text {
            color: #ffffff;
            text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
            font-size: 20px;
            font-weight: bold;
            font-family: "Noto Sans JP", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

        .produce-idol-level-area {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .produce-idol-level-text {
            color: #ffffff;
            text-shadow: 1px 1px 2px #333333, -1px 1px 2px #333333, -1px -1px 0 #333333, 1px -1px 0 #333333;
            font-size: 32px;
            font-weight: bold;
            font-family: "Noto Sans JP", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    }

    .setting-modal {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 50%;
        max-height: 70%;
        margin: 25% auto;
        padding: 16px;
        border-radius: 8px;

        @media (max-width: 600px) {
            width: 90%;
            max-height: 90%;
        }

        .setting-color-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 8px 0;
        }

        .setting-color-button {
            padding: 8px;
        }

        .color-button {
            width: 80px;
        }
    }

    .produce-type-select-modal {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 50%;
        max-height: 70%;
        margin: 25% auto;
        padding: 16px;
        border-radius: 8px;

        @media (max-width: 600px) {
            width: 90%;
            max-height: 90%;
        }

        .produce-type-button-area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .produce-type-button {
            padding-bottom: 16px;
        }

        .common-button.hajime-master {
            width: 200px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .common-button.nia {
            width: 200px;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    .common-input-modal {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        width: 30%;
        margin: 40% auto;
        padding: 16px;
        border-radius: 8px;

        @media (max-width: 1000px) {
            margin: 50% auto;
        }

        @media (max-width: 600px) {
            width: 90%;
        }

        .description-area {
            padding-bottom: 16px;
        }

        .input-area {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .common-button.minus, .common-button.plus {
            width: 40px;
            height: 40px;
            margin: 0 16px;
        }
    }
}
