body {
    margin: 0;
    overflow-y: scroll;
}

.header-area.color-saki {
    background: linear-gradient(to right, #fb4f60, #fbb7a1);

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area.color-temari {
    background: linear-gradient(to right, #23b3e6, #81e5de);

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area.color-kotone {
    background: linear-gradient(to right, #f3d51d, #fbb5d1);

    .header-tab-name {
        color: #333333;
    }

    .header-tab-button {
        color: #333333;
    }

    .header-operation-button {
        color: #333333;
    }
}

.header-area.color-mao {
    background: linear-gradient(to right, #bf5cc4, #f6aba4);

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area.color-lilja {
    background: linear-gradient(to right, #cee0e0, #92cad4);

    .header-tab-name {
        color: #333333;
    }

    .header-tab-button {
        color: #333333;
    }

    .header-operation-button {
        color: #333333;
    }
}

.header-area.color-china {
    background: linear-gradient(to right, #fa891e, #fb5e52);

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area.color-sumika {
    background: linear-gradient(to right, #8fdc57, #c8e01b);

    .header-tab-name {
        color: #333333;
    }

    .header-tab-button {
        color: #333333;
    }

    .header-operation-button {
        color: #333333;
    }
}

.header-area.color-hiro {
    background: linear-gradient(to right, #00bcd3, #507ff9);

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area.color-sena {
    background: linear-gradient(to right, #fbac26, #f1e769);

    .header-tab-name {
        color: #333333;
    }

    .header-tab-button {
        color: #333333;
    }

    .header-operation-button {
        color: #333333;
    }
}

.header-area.color-misuzu {
    background: linear-gradient(to right, #6ba2f7, #cdadfa);

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area.color-ume {
    background: linear-gradient(to right, #f34a29, #ecc64b);

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area.color-rinami {
    background: linear-gradient(to right, #f97dbd, #f0b7f9);

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area.color-default {
    background: #958b7f;

    .header-tab-name {
        color: #ffffff;
    }

    .header-tab-button {
        color: #ffffff;
    }

    .header-operation-button {
        color: #ffffff;
    }
}

.header-area {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 8px 8px 0;

    .header-tab-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 8px;

        .header-tab-left-area {
            display: flex;
            flex-direction: row;
        }

        .header-tab-right-area {
            display: flex;
            flex-direction: row;
        }

        .header-tab {
            margin: 0 8px;
        }

        .header-tab-button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
        }

        .header-tab-name {
            font-size: 16px;
            padding-left: 4px;
            vertical-align: super
        }

        .header-tab-button:hover {
        }
    }

    .header-operation-area {
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;

        .header-operation {
            margin: 0 8px;
        }

        .header-operation-button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
        }
    }

    .schedule-tab-area {
        display: flex;
        flex-wrap: nowrap;

        .schedule-tab {
            background: #efefef;
            border-top: 2px solid #616b6a;
            border-right: 2px solid #616b6a;
            border-left: none;
            border-bottom: none;
            cursor: default;
        }

        .schedule-tab.active {
            background: #ffffff;
        }

        .schedule-tab-name {
            color: #333333;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 4px;
        }

        .schedule-tab-close-button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
        }
    }
}

.contents-view-area.color-saki {
    .common-button {
        background: linear-gradient(to right, #fb4f60, #fbb7a1);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #fb4f60, #ffffff 30%),
                color-mix(in srgb, #fbb7a1, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #fb4f60, #fbb7a1) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #fb4f60, #fbb7a1) 1;
    }
}

.contents-view-area.color-temari {
    .common-button {
        background: linear-gradient(to right, #23b3e6, #81e5de);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #23b3e6, #ffffff 30%),
                color-mix(in srgb, #81e5de, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #23b3e6, #81e5de) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #23b3e6, #81e5de) 1;
    }
}

.contents-view-area.color-kotone {
    .common-button {
        background: linear-gradient(to right, #f3d51d, #fbb5d1);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #f3d51d, #ffffff 30%),
                color-mix(in srgb, #fbb5d1, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #333333;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #f3d51d, #fbb5d1) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #f3d51d, #fbb5d1) 1;
    }
}

.contents-view-area.color-mao {
    .common-button {
        background: linear-gradient(to right, #bf5cc4, #f6aba4);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #bf5cc4, #ffffff 30%),
                color-mix(in srgb, #f6aba4, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #bf5cc4, #f6aba4) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #bf5cc4, #f6aba4) 1;
    }
}

.contents-view-area.color-lilja {
    .common-button {
        background: linear-gradient(to right, #cee0e0, #92cad4);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #cee0e0, #ffffff 30%),
                color-mix(in srgb, #92cad4, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #333333;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #cee0e0, #92cad4) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #cee0e0, #92cad4) 1;
    }
}

.contents-view-area.color-china {
    .common-button {
        background: linear-gradient(to right, #fa891e, #fb5e52);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #fa891e, #ffffff 30%),
                color-mix(in srgb, #fb5e52, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #fa891e, #fb5e52) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #fa891e, #fb5e52) 1;
    }
}

.contents-view-area.color-sumika {
    .common-button {
        background: linear-gradient(to right, #8fdc57, #c8e01b);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #8fdc57, #ffffff 30%),
                color-mix(in srgb, #c8e01b, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #333333;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #8fdc57, #c8e01b) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #8fdc57, #c8e01b) 1;
    }
}

.contents-view-area.color-hiro {
    .common-button {
        background: linear-gradient(to right, #00bcd3, #507ff9);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #00bcd3, #ffffff 30%),
                color-mix(in srgb, #507ff9, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #00bcd3, #507ff9) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #00bcd3, #507ff9) 1;
    }
}

.contents-view-area.color-sena {
    .common-button {
        background: linear-gradient(to right, #fbac26, #f1e769);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #fbac26, #ffffff 30%),
                color-mix(in srgb, #f1e769, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #333333;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #fbac26, #f1e769) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #fbac26, #f1e769) 1;
    }
}

.contents-view-area.color-misuzu {
    .common-button {
        background: linear-gradient(to right, #6ba2f7, #cdadfa);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #6ba2f7, #ffffff 30%),
                color-mix(in srgb, #cdadfa, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #6ba2f7, #cdadfa) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #6ba2f7, #cdadfa) 1;
    }
}

.contents-view-area.color-ume {
    .common-button {
        background: linear-gradient(to right, #f34a29, #ecc64b);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #f34a29, #ffffff 30%),
                color-mix(in srgb, #ecc64b, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #f34a29, #ecc64b) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #f34a29, #ecc64b) 1;
    }
}

.contents-view-area.color-rinami {
    .common-button {
        background: linear-gradient(to right, #f97dbd, #f0b7f9);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: linear-gradient(
                to right,
                color-mix(in srgb, #f97dbd, #ffffff 30%),
                color-mix(in srgb, #f0b7f9, #ffffff 30%)
        );
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #f97dbd, #f0b7f9) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #f97dbd, #f0b7f9) 1;
    }
}

.contents-view-area.color-default {
    .common-button {
        background: #958b7f;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 8px;
        appearance: none;
    }

    .common-button:hover {
        background: color-mix(in srgb, #958b7f, #ffffff 30%);
    }

    .common-button-name {
        color: #ffffff;
        font-weight: bold;
    }

    .card-tab.active {
        border-image: linear-gradient(to right, #958b7f, #958b7f) 1;
    }

    .card-filter-list-header {
        border-image: linear-gradient(to right, #958b7f, #958b7f) 1;
    }
}

.contents-view-area {
    .headline-area {
        padding: 16px 16px 8px 16px;

        .headline-text {
            color: #333333;
            font-size: 24px;
            padding-left: 8px;
            vertical-align: super;
        }
    }

    .card-tab-area {
        display: flex;
        padding: 0 16px;

        .card-tab {
            padding: 8px 16px;
        }

        .card-tab.active {
            border-bottom: 3px solid;
        }

        .card-tab-button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
        }

        .card-tab-name {
            color: #333333;
            font-size: 20px;
        }
    }

    .card-master-area {
        padding: 16px 16px;

        span {
            color: #333333;
            font-size: 16px;
        }

        .card-filter-area {
            padding: 8px 0;
        }

        .card-filter-list-area {
            display: flex;
            flex-direction: column;
            padding: 8px 0;
        }

        .card-filter-list-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 2px solid;
            padding-top: 16px;
        }

        .card-filter-check-all {
            position: relative;
            top: 16px;
            z-index: 1;
            padding: 2px;
            cursor: pointer;
            background: #fff;
            border: 2px solid #333333;
            border-radius: 4px;
        }

        .card-filter-checkbox-area {
            display: flex;
            flex-direction: row;
            padding-top: 8px;
        }

        .card-filter-checkbox {
            padding-right: 16px;
        }

        .card-filter-type-text {
            border-bottom: 2px solid;
        }

        .ability-filter-area {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        .ability-filter-parameter-area {
            display: flex;
            flex-direction: column;
        }

        .ability-filter-text {
            border-bottom: 1px dashed #333333;
            padding-top: 8px;
        }

        .filter-button-area {
            display: flex;
            flex-direction: row;
            padding-top: 16px;
        }

        .filter-button {
            padding-right: 8px;
        }

        .card-list-area {
            padding: 8px 0;
        }

        .card {
            padding: 8px 8px;
            display: flex;
            flex-direction: row;
        }

        .card.vocal {
            background: rgba(251, 0, 130, 0.1);
            border-bottom: 2px solid #FB0082;
        }

        .card.dance {
            background: rgba(0, 134, 240, 0.1);
            border-bottom: 2px solid #0086F0;
        }

        .card.visual {
            background: rgba(250, 169, 0, 0.1);
            border-bottom: 2px solid #FAA900;
        }

        .card.assist {
            background: rgba(60, 199, 67, 0.1);
            border-bottom: 2px solid #3CC743;
        }

        .card-image-area {
            width: 400px;
            height: 225px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-name {
            display: flex;
            flex-direction: row;
            padding: 4px 8px;

            span {
                color: #ffffff;
                -webkit-text-stroke: 1px #333333;
                font-size: 24px;
                font-weight: bold;
            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
            padding: 4px 8px;

            span {
                color: #ffffff;
                -webkit-text-stroke: 1px #333333;
                font-size: 24px;
                font-weight: bold;
            }
        }

        .card-support-area {
            width: 300px;
            padding-left: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-support-area.vocal {
            border-right: 2px dashed #FB0082;
        }

        .card-support-area.dance {
            border-right: 2px dashed #0086F0;
        }

        .card-support-area.visual {
            border-right: 2px dashed #FAA900;
        }

        .card-support-area.assist {
            border-right: 2px dashed #3CC743;
        }

        .card-ability-area {
            padding-left: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}